<h1>Creature Show Page</h1>
<a href="/creatures">Back to Creatures</a>
<div class="card">
    <h2><%= creature.type %></h2>
    <img src="" alt="">
    <form method="POST" action="/creatures/<%= creature.id %>/?_method=DELETE">
        <input type="submit" value="Delete">
    </form>

    <form method="POST" action="/creatures/<%= creature.id %>/?_method=PUT">
        <label>Type</label>
        <input type="text" name="type" value="<%= creature.type %>">
        <label>Image</label>
        <input type="image" src="<%= creature.img_url %>" alt="<%= creature.type %>" width="200">
    </form>
</div>
